@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Play');
html,
body {
    padding: 0 10% 0 10%;

}

.wrapper {
    font-family: "Open Sans", sans-serif;
    height: 100%;
    min-height: 1000px;
    border-style: solid;
    border-color: #ffba00;
    border-width: 2px;
    padding: 1% 1% 0 1%;
}
.content {
    /*background-color: red;*/
    float: right;
    width: 70%;
    min-height: 700px;
    /*margin: 1% 1% 0 1%;*/
}

.sidebar {
    width: 25%;
    border-right: solid #ffba00 2px;
    min-height: 300px;
    float: left;
    /*background-color: blue;*/
}
.sidebar a {
    text-decoration: none;
    color: #ffba00;
    font-weight: bold;
}
.sidebar .filter {

    margin: 1% 1% 0 1%;
}
.header {
    background-color: #ffba00;
    height: 150px;
    border-style: solid;
    border-color: #ffba00;
    border-width: 2px;
    margin-bottom: 1%;
}

.logo {
    font-family: "Pacifico", cursive;
    font-size: 2em;

}
.header .logo {
    margin: 20px 0 0 50px;
}
.header .logo a {
    text-decoration: none;
    color: black;
}
.footer .logo {
    margin: 74px 0 0 847px;
}
.footer .logo a {
    text-decoration: none;
    color: white;
}

.menu {
    height: 60px;
    background-color: #ffba00;
    font-family: "Play", sans-serif;
    font-size: 1.5em;
    color: black;
}
.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu li {
    margin: 1% 0 0 0;
}
.menu a {
    display: block;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: #bc02e0;
}
.menu a:active {
    color: #a90fff;
}
/*.menu a:visited {
    color: black;
}*/
.main {
    margin: 10px 10px 0 10px;
}
.main img {
    float: left;
    height: 100px;
    width: 100px;
    margin: 0 2% 0 0;
    /*border: solid #ffba00 2px;*/
}

.description {
    width: 400px;
    /*background-color: aqua;*/
    float: left;
    /*border: solid #ffba00 2px;*/
    height: 80px;
}
.description .name {
    font-size: 1.6em;
}
.description .name a {
    text-decoration: none;
    color: #9100e0;
}
.description .city {
    font-size: 1.2em;
}
.description.want {
    font-size: 1.2em;
}
.description .want span {
    color: #ffba00;
}

.button {
    width: 150px;
    height: 50px;
    float: right;
    margin: 15px 100px 0 0;
    border: none;
    background-color: #ffba00;
}
.button a {
    color: black;
    text-decoration: none;
    user-select: none; /* убирать выделение текста */
    /*background: #ffba00; /* фон кнопки */
    /*padding: .7em 1.5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    font-size: 1.6em;
}
.button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.button:active { background: rgb(152,15,0); } /* при нажатии */

hr {
    border: none;
    height: 1px;
    background-color: #ffba00;
}
.footer {
    background-color: #b2b2b2;
    height: 150px;
    border-style: solid;
    border-color: #ffba00;
    border-width: 2px;
}
.sidebar .avatar {
    text-align: center;
    margin: 18% 0 0 0;
}
.sidebar .avatar img {
    min-width: 150px;
    min-height: 150px;
    max-width: 280px;
    max-height: 360px;
}
.sidebar .message {
    text-align: center;
}
.sidebar .friends {
    text-align: center;
}
.info .contacts{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}
.info .name {
    font-size: 2.5em;
}
.info span {
    font-weight: bold;
    color: #ffba00;;
}

